* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
body {
  background-color: #ebebeb;
  margin: 0;
}
a {
  color: black;
  font-size: 18px;
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 18px;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 700px;
  border: 3px solid black;
  height: 60px;
  border-right-width: 0;
  border-radius: 60px;
  padding: 10px 0 10px 20px;
  position: relative;
  background-color: #ebebeb;
}
.menu {
  height: inherit;
}
.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.links li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links li a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}
.links li a:hover {
  color: #0e5ba8;
}
.links li:last-of-type {
  border: 3px solid black;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  transition: 0.5s;
}
.extended {
  width: 360px !important;
  transition: 0.5s;
  border: 1px solid black;
  border-radius: 60px !important;
}
.input-field {
  width: 0;
  transition: 0.5s;
}
.input-field.active {
  width: 300px;
  transition: 0.5s;
}
#search_input {
  width: 0;
  height: 50px;
  font-weight: bold;
}
.active #search_input {
  height: 50px;
  font-weight: bold;
  width: auto;
}
.search_img {
  cursor: pointer;
}
.vector_line {
  position: absolute;
  width: 500px;
  top: 370px;
  right: 0;
  z-index: -10;
  transform: scaleX(-1);
}
#main {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  position: relative;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding-left: 50px;
  position: relative;
}
.right > h1 {
  font-size: 52px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.right h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: inline-flex;
  align-items: center;
  border: 3px solid black;
  padding: 0 10px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  margin-top: 30px;
  position: relative;
  background-color: #b5b4ff;
  animation: 0.5s;
}
.card h1 {
  margin-left: 40px;
  font-size: 28px;
}
.buttons {
  display: flex;
  justify-content: center;

  border-top: 6px solid black;
}
.carousel_wrapper {
  display: inline-flex;
  justify-content: center;
  border: 6px solid black;
  box-shadow: -10px 10px 0px 6px rgba(0, 0, 0, 1);
  border-radius: 20px;
  overflow: hidden;
}
.carousel__play-button,
.carousel__back-button,
.carousel__next-button {
  background-color: #ebebeb;
  border: 0;
  height: 70px;
  width: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}
#test1 {
  background-color: #0e5ba8;
  height: 100vh;
}
.star__absolute {
  position: absolute;
}
.star2 {
  top: 0;
  left: 50px;
}
.star1 {
  top: 200px;
  left: 30px;
}
.notFoundWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  animation: loading 2s infinite linear;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#demo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.demo_input {
  border: 3px solid black;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: relative;
}
.demo_input input[type='text'] {
  width: 500px;
}
.plus_icon {
  margin-right: 10px;
}
.habit_elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border: 3px dashed black;
  margin: 30px 0;
  border-radius: 10px;
  padding: 10px 0;
}
.habit_elements p {
  font-size: 30px;
  font-weight: bold;
}
.habit_element {
  border: 3px solid black;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.habit_element > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habit_element input {
  accent-color: rgb(34, 161, 5);
}
.checkboxes {
  display: flex;
  margin-top: 5px;
}
.checkboxes div {
  margin-right: 8px;
}
.delete {
  justify-self: center;
  align-self: flex-end;
}
