* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}
body {
  background-color: #ebebeb;
  margin: 0;
}
a {
  color: black;
  font-size: 18px;
}
#home {
  height: 100vh;
  overflow: hidden;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 700px;
  border: 3px solid black;
  height: 60px;
  border-right-width: 0;
  border-radius: 60px;
  padding: 10px 0 10px 20px;
  position: relative;
  background-color: #ebebeb;
}
.menu {
  height: inherit;
}
.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.links li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links li a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}
.links li a:hover {
  color: #0e5ba8;
}
.links li:last-of-type {
  border: 3px solid black;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  transition: 0.5s;
}
.extended {
  width: 360px !important;
  transition: 0.5s;
  border: 1px solid black;
  border-radius: 60px !important;
}
.input-field {
  width: 0;
  transition: 0.5s;
}
.input-field.active {
  width: 300px;
  transition: 0.5s;
}
#search_input {
  width: 0;
  border: 0;
  outline: 0;
  background: transparent;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.active #search_input {
  border: 0;
  outline: 0;
  background: transparent;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  width: auto;
}
.search_img {
  cursor: pointer;
}
.vector_line {
  position: absolute;
  width: 120%;
  top: 30px;
  left: -150px;
  z-index: -10;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.right > h1 {
  font-size: 52px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.right h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: inline-flex;
  align-items: center;
  border: 3px solid black;
  padding: 0 10px;
  border-radius: 10px;
  width: 500px;
  height: auto;
  margin-top: 30px;
  position: relative;
  background-color: #b5b4ff;
  animation: 0.5s;
}
.card h1 {
  margin-left: 40px;
  font-size: 28px;
}
