* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #ebebeb;
}
a {
  color: black;
  font-size: 18px;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 700px;
  border: 3px solid black;
  border-right-width: 0;
  border-radius: 60px;
  padding: 0 0 0 2rem;
  height: 80px;
}
.menu {
  height: inherit;
}
.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  height: inherit;
}
.links li {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links li a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}
.links li a:hover {
  color: #0e5ba8;
}
.links li:last-of-type {
  border: 3px solid black;
  height: 80px;
  width: 80px;
  border-radius: 60px;
  transition: 0.5s;
}
.extended {
  width: 380px !important;
  transition: 0.5s;
  border: 1px solid black;
  border-radius: 60px !important;
}
.input-field {
  width: 0;
  transition: 0.5s;
}
.input-field.active {
  width: 300px;
  transition: 0.5s;
}
#search_input {
  width: 0;
  border: 0;
  outline: 0;
  background: transparent;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.active #search_input {
  border: 0;
  outline: 0;
  background: transparent;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  width: auto;
}
.search_img {
  cursor: pointer;
}
